
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/wrath\ of\ man2.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

